* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: #f8f8f8;
}
ul .Shoes-Logo {
	height: 1.2rem;
	width: 1.2rem;
}

a img .Shoes-Image {
	background-position: center;
	background-size: cover;
}

li .navbar-link:active {
	color: #DC4C64;
}