* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

li .Shoes-Logo {
	height: 1.2rem;
	width: 1.2rem;
}

li .navbar-link:active {
	color: #DC4C64;
}